body {
	background-image: url(../images/portfolio.jpeg);
	background-color: #A8A8A8;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Zilla Slab', serif;
	font-style: normal;
	font-weight: 400;
	height: 100%;
}
h1 {
	font-family: 'Pacifico', cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 2.5em;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 3px 0px 4px #000000;
}
h2 {
	font-family: 'Pacifico', cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 1.5em;
	text-align: center;
}

footer {
	font-size: small;
	text-align: center;
	clear: both;
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 45px;
	width: 100%;
	padding-top: 15px;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,1.00) 100%,rgba(255,255,255,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,1.00) 100%,rgba(255,255,255,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,1.00) 100%,rgba(255,255,255,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,1.00) 100%,rgba(255,255,255,1.00) 100%);
}
.asideLeft {
	width: 28%;
	float: left;
	margin-left: 1%;
	margin-right: 5%;
	margin-top: 30px;
}
.sectionRight {
	width: 55%;
	margin-right: 5%;
	margin-top: 30px;
	margin-left: 1%;
	padding-top: 2.5%;
	padding-right: 2.5%;
	padding-bottom: 2.5%;
	padding-left: 2.5%;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 11.40%,rgba(255,255,255,0.53) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 11.40%,rgba(255,255,255,0.53) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 11.40%,rgba(255,255,255,0.53) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 11.40%,rgba(255,255,255,0.53) 100%);
	border-top-right-radius: 25px;
	float: right;

}
header {
}
header {
	text-align: center;
	padding-top: 70px;
}
nav {
	background-color: #EEEEEE;
}
.navList {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
/*.navListItem {
	float: left;*/
}
.navListItem a {
	text-decoration: none;
	display: block;
	padding-top: 14px;
	padding-left: 16px;
	padding-bottom: 16px;
	padding-right: 16px;
	color: #6A6A6A;
}
.navListItem a:hover {
	color: #000000;
	background-color: #3EC7B4;
}
.container-fluid .navbar-header .navbar-brand {
	font-family: 'Pacifico', cursive;
	font-style: normal;
	font-weight: 400;
	color: #838383;
}

@media (max-width: 650px){
.asideLeft {
	width: 90%;
	float: none;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 30px;
}
.sectionRight {
	width: 90%;
	float: none;
	margin-right: 5%;
	margin-top: 30px;
	margin-left: 5%;
	margin-bottom: 50px;
}
body {
	background-color: grey;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Zilla Slab', serif;
	font-style: normal;
	font-weight: 400;
	height: 100%;
	font-size: large;
}
h1 {
	font-family: 'Pacifico', cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 2em;
	text-align: center;
}
header {
	text-align: center;
	padding-top: 30px;
}
body footer {
}


}
